body {
	margin : 0;
    width: 100%;
    height: 100%;
	overflow:hidden;
	background-color: black;
}

#loader {
	position:absolute;
	width : 50%;
	height: 10%;
	top: 45%;
	background-color: rgba(1,255,255,0.5);
}

